<div class="home-bg" style="
    background-image: url(/images/water.jpg);
    background-size: 60vw;
    background-position: left center;
    background-repeat: no-repeat">

    <div class="container-left">

        <h2 class="display-cream"><i class="fas fa-umbrella-beach fa-sm cream"></i><br> ¡Aloha!</h2>
    </div>

    <div class="white-card">
    <form action="/signup-local" method="POST" style="width: 60%;">
                    <div class="form-group">
                        <label for="input-username" class="label active">Username</label>
                        <input type="text" id="input-username" name="username" placeholder="Tu nombre de usuario"/>
                    </div>
                    <div class="form-group">
                        <label for="input-number" class="label active">N. teléfono</label>
                        <input type="number" id="input-number" name="telephone" placeholder="Tu número de teléfono"/>
                    </div>
                    <div class="form-group">
                        <label for="input-email" class="label active">Email</label>
                        <input type="email" id="input-email" name="email" placeholder="Tu email"/>
                    </div>
                    <div class="form-group">
                        <label for="input-password" class="label active">Password</label>
                        <input type="password" name="password" id="input-password" placeholder="********"/>
                    </div>


                    <button type="submit" class="btn-kokomo btn-kokomo-success btn-block p-3">Crear cuenta</button>

                    {{!-- error message will be added here --}}
                    {{#if errorMessage}}
                    <p class="error">{{errorMessage}}</p>
                    {{/if}}
                </form>

    </div>
</div>
