<div class="home-bg image-background" style="
    background-image: url(/images/water.jpg);">

    <div class="container-left">
        <h2 class="display-cream"><i class="fas fa-glass-cheers fa-sm cream"></i><br> ¡Yuhu, <br>{{user.username}}!</h2>
    </div>

    <div class="white-card">
    <h1 class="mb-4">Reserva creada con éxito 🥳</h1>
    <p><i class="far fa-calendar-alt"></i> Día: {{booking.day}}</p>
    <p><i class="far fa-clock"></i> Hora: {{booking.time}}</p>
    <p><i class="fas fa-users"></i> Número de personas: {{booking.guests}}</p>
    </div>
</div>
