/* # 00.
---------------------------------------------------------------------------------------------------- 

    01.   VARIABLES
    02.   HOME
    03.   HEADER
    04.   FOOTER
    05.   HOMEPAGE
	  06.	  PORTFOLIO
    07.   SERVICIOS
    08.   PAGES
	  09.   FORMS
    10.   #DEGRATIS

/* # 01. VARIABLES
---------------------------------------------------------------------------------------------------- */
/* ## Colors
--------------------------------------------- */
/* ## Fonts
--------------------------------------------- */
/* # 02. HOME
---------------------------------------------------------------------------------------------------- */
body {
  padding: 0px; }

* {
  font-family: europa, sans-serif;
  font-size: 16px; }

a {
  color: #FFBA69; }

a:hover {
  text-decoration: none !important; }

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 0px !important; }

nav .navbar-brand {
  font-family: bely-display, sans-serif;
  font-weight: 400;
  color: #3294BB !important; }

nav .navbar-toggler, nav i {
  border: none;
  color: #3294BB; }

h2.hero {
  color: #809EAA;
  text-align: center;
  padding: 80px 0 40px 0;
  font-size: 22px; }

h1 {
  color: #3294BB; }

.title-search {
  font-size: 20px;
  color: #FFBA69;
  font-weight: 600;
  padding-bottom: 4px;
  padding-left: 32px; }

.subtitle-search {
  font-size: 14px;
  color: #809EAA;
  font-weight: 100;
  padding-left: 32px; }

.search-form {
  padding-bottom: 50px; }
  .search-form input {
    background-color: rgba(128, 158, 170, 0.15);
    border: none;
    padding: 26px;
    border-radius: 14px; }

.properties-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  overflow: scroll;
  padding: 20px; }
  .properties-group .property-card {
    width: 130px; }
    .properties-group .property-card img {
      max-width: 100%;
      height: 200px;
      object-fit: cover;
      border-radius: 20px; }
    .properties-group .property-card h3 {
      font-family: bely-display, sans-serif;
      color: #3294BB;
      font-size: 16px;
      padding-top: 18px; }
    .properties-group .property-card p {
      color: #809EAA;
      font-weight: 200;
      font-size: 13px; }

@media all and (min-width: 768px) {
  .home-bg {
    display: flex;
    align-items: center;
    min-height: 100vh; }
  .container-left {
    padding: 40px !important;
    width: 50vw; }
  .white-card {
    width: 50vw;
    height: 100vh;
    background-color: #FBF7F3;
    padding: 26px 0px 26px 32px;
    border-radius: 50px 0 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .title-search {
    font-size: 45px;
    color: #3294BB;
    font-family: bely-display, sans-serif;
    font-weight: 600;
    padding: 0 100px 10px 0; }
  .subtitle-search {
    font-size: 20px;
    color: #809EAA;
    font-weight: 100;
    padding-left: 0; }
  .properties-group {
    padding: 40px; }
    .properties-group .property-card {
      width: 230px; }
      .properties-group .property-card img {
        height: 300px;
        border-radius: 20px; }
      .properties-group .property-card h3 {
        font-family: bely-display, sans-serif;
        color: #FFBA69;
        font-size: 22px;
        padding-top: 18px; }
      .properties-group .property-card p {
        color: #809EAA;
        font-weight: 200;
        font-size: 16px; } }

/*# sourceMappingURL=style.css.map */