/* # 00.
---------------------------------------------------------------------------------------------------- 

    01.   VARIABLES
    02.   LAYOUT
    03.   HEADER
    04.   FOOTER
    05.   HOMEPAGE
	  06.	  PORTFOLIO
    07.   SERVICIOS
    08.   PAGES
	  09.   FORMS
    10.   #DEGRATIS

/* # 01. VARIABLES
---------------------------------------------------------------------------------------------------- */

/* ## Colors
--------------------------------------------- */
$blue: #3294BB;
$orange: #FFBA69;

/* ## Fonts
--------------------------------------------- */
$text-font: europa, sans-serif;
$heading-font: bely-display, sans-serif;



/* # 02. LAYOUT
---------------------------------------------------------------------------------------------------- */

body {
  padding: 0px;
}

* {
  font-family: $text-font;
  font-size: 16px;
}

a {
  color: #00B7FF;
}

.navbar-brand {
  font-family: $heading-font;
  font-weight: 400;
}

h1 {
  color: $blue;
}
