<div class="home-bg" style="
    background-image: url(/images/water.jpg);
    background-size: 60vw;
    background-position: left center;
    background-repeat: no-repeat">

    <div class="container-left">

        <h2 class="display-cream"><i class="fas fa-umbrella-beach fa-sm cream"></i><br> ¡Aloha!</h2>
    </div>

    <div class="white-card">
    <form action="/login" method="POST" style="width: 60%;">
                    <div class="form-group">
                        <label for="input-email">Email</label>
                        <input type="email" id="input-email" name="email" placeholder="Your email"
                            class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="input-password">Password</label>
                        <input type="password" name="password" id="input-password" placeholder="********"
                            class="form-control" />
                    </div>

                    <button type="submit" class="btn btn-success">Login</button>

                    {{!-- error message will be added here --}}
                    {{#if errorMessage}}
                    <p class="error">{{errorMessage}}</p>
                    {{/if}}
                </form>

    </div>
</div>
