<div class="container text-center d-flex align-items-center justify-content-center" style="height: 100vh;">
  <div>
    <img src="/images/warning.png" alt="Error" style="max-width: 200px;">
    <h1 class="heading-font orange mt-4">Página no encontrada</h1>
    <p>¡Lo sentimos! Parece que no encontramos lo que buscas</p>
    <a href="/" class="btn-kokomo btn-kokomo-grey mt-4">Volver a inicio</a>
  </div>

</div>