<div class="container">
    <h1>Profile</h1>

    {{#if user}}
    <h2>Hola, {{user.username}}</h2>

    {{else}}
    <p>Please, login first!</p>
    <a href="/login" class="btn btn-primary">Login</a>
    {{/if}}

</div>