{{#if user}}
<div class="body-container">

    <h2 class="display-blue">Tus favoritos</h2>
    <div>
        <a href="/profile/edit" class="btn-kokomo btn-kokomo-grey mb-4 mt-5"><i class="fas fa-user-cog"></i>
            Configuración</a>
        <a href="/logout" class="btn-kokomo btn-kokomo-grey mb-4 mt-5"><i class="mdi mdi-logout-variant"></i>
            Cerrar sesión</a>
    </div>

    <h3 class="section-title mt-4"><i class="fas fa-heart fa-sm blue"></i> Tus favoritos</h3>
    {{#if user.favourites}}
    {{#each user.favourites}}
    <p>{{name}}</p>
    {{/each}}

    {{else}}
    <p>Todavía no tienes favoritos</p>
    {{/if}}
</div>
</div>



{{else}}
<p>Please, login first!</p>
<a href="/login" class="btn btn-primary">Login</a>
{{/if}}